{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-space-before-closing": ["error", "never"],
    "react/prefer-stateless-function": ["off"],
    "eol-last": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "object-curly-spacing": ["error", "never"]
  }
}